---
- name: Retrieve all subnets first
  ansible.builtin.include_tasks: subnets.yml

- name: Filter for private subnets in HCP
  ansible.builtin.set_fact:
    aws_vpc_private_subnets: "{{ aws_vpc_subnets.subnets | selectattr('tags.Name', 'search', '-private-') }}"

- name: Extract subnet IDs
  ansible.builtin.set_fact:
    aws_vpc_private_subnet_ids: "{{ (aws_vpc_private_subnet_ids | default([])) + [item.id] }}"
  loop: "{{ aws_vpc_private_subnets }}"
