---
- name: Retrieve all subnets first
  ansible.builtin.include_tasks: subnets.yml

- name: Filter for public subnets in HCP
  ansible.builtin.set_fact:
    aws_vpc_public_subnets: "{{ aws_vpc_subnets.subnets | selectattr('tags.Name', 'search', '-public-') }}"

- name: Extract subnet IDs
  ansible.builtin.set_fact:
    aws_vpc_public_subnet_ids: "{{ (aws_vpc_public_subnet_ids | default([])) + [item.id] }}"
  loop: "{{ aws_vpc_public_subnets }}"
