{{- with .Values.tridentFSX }}
{{- if and .iscsi.mgmtLIF (not (contains "PROVIDE" .iscsi.mgmtLIF)) }}
apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: ontap-iscsi
  namespace: trident
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  backendName: ontap-iscsi
  credentials:
    name: {{ .iscsi.secretName }}
  defaults:
    lunsPerFlexvol: {{ .iscsi.lunsPerFlexvol }}
    storagePrefix: {{ .iscsi.storagePrefix }}
  managementLIF: {{ .iscsi.mgmtLIF }}
  storageDriverName: {{ .iscsi.storageDriverName }}
  svm: {{ .iscsi.svm }}
  version: 1
{{- end }}
{{- end }}
